@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
    width: 10%;
    margin-right: 0;
    margin-left: 0;
    background-color: #333 !important;
    border: 0;
    border-radius: 0;
    height: 100%;
    position: fixed;
    z-index: 1337;
    left: 0 !important;
}	


.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.navbar-nav > li {
    height: 150px; 
    float:none;
    text-align: center;
}
.navbar-nav > li:hover {
    background-color: #2c3e50;    
}
.navbar-nav > li > a {
    color: #fff !important;
    text-align: center;
    height: 150px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #2c3e50;
}
.collapse navbar-collapse {
    height: 100%;
}
}
body {
    background-color: #0094FF;
    height: 100%;
    font-family: Arial;  
    width: 100%;
    padding-left: 200px;
}
html{
  height: 100%;
}


.wrapper {
    height: 150px;
    font-size: 30px;
    font-family: Arial;
}

.glyphicon {
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
}

nav {
    margin-right: 100px;
}


.row {
    min-height: 100px;
}

.form-control {
    border-radius: 0;
    border: 0;
}

.btn btn-default {
    border-radius: 0;
    border: 0;
}

.content {
    width:90%;
    position: static;
    height: 100%;
    float:left;
}